.reviews-container {
  background-color: #8d663f;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.reviews {
  padding: 20px;
  width: 100%;
}

.image-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
  flex-shrink: 0;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.recommendation {
  color: white;
  margin-bottom: 10px;
}

.reviewer-name {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 10px;
}

.position {
  font-size: small;
  color: black;
}

/* Default styles for larger screens */
.col-lg-6 {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.content-container {
  margin-left: 20px;
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .col-lg-6 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .content-container {
    margin-left: 0;
    margin-top: 20px;
    align-items: center;
  }

  .recommendation {
    text-align: center;
  }

  .image-container {
    margin: 0 auto;
  }

  /* Reset the top margin for subsequent review boxes */
  .mt-lg-0 {
    margin-top: 30px !important;
  }
}