.technology-logo {
  width: 30px;
  height: 30px;
}

.tagline {
  font-size: 0.85rem;
  color: #6c757d;
  margin-top: 4px;
}

.skills{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0;
}

.skills-title{
  text-align: left;
  padding-right: 10px;
  font-family: 'Suravaram', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .skills-title {
    margin-bottom: 25px;
    font-size: 2.5rem;
    font-weight: 400;
  }
  .skills{
    margin: 15px;
  }
}

@media (max-width: 576px) {
  .skills-title {
    font-size: 2rem;
    font-weight: 400;
  }
  .skills{
    margin: 15px;
  }
}

@media (max-width: 768px) {
  .tech-column {
    flex: 1 1 calc(50% - 20px);
    /* 2 columns per row on smaller screens */
  }
  .skills{
    margin: 15px;
  }
}

@media (max-width: 576px) {
  .tech-column {
    flex: 1 1 100%;
    /* 1 column per row on very small screens */
  }

  .tech-item .tagline {
    font-size: 0.8rem;
  }
  .skills{
    margin: 15px;
  }
}

@media (max-width: 768px) {
  .section-title {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

@media (max-width: 576px) {
  .section-title {
    font-size: 1rem;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .tech-column {
    flex: 1 1 calc(50% - 20px);
    /* 2 columns per row on smaller screens */
  }
}

@media (max-width: 576px) {
  .tech-column {
    flex: 1 1 100%;
    /* 1 column per row on very small screens */
  }
}


.tech-icon-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #8d663f;
  background-color: #f0e6ce;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  padding: 5px;
}

.tagline {
  font-size: 0.9rem;
  color: #8d663f; /* Adjust to your preferred secondary text color */
  display: block;
  margin-top: 4px; /* Space between main text and tagline */
}

.technology-logo {
  width: 40px;
  height: 40px;
}

.tech-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.tech-icon-circle {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: inherit; /* Adjust as needed */
  margin-right: 10px;
}

.tech-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.tech-column {
  flex: 1 1 calc(25% - 20px);
  /* 4 items per row in a column */
}


.tech-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}

.tech-item .line {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #ccc;
}

.db-item,
.detail-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.db-item .tagline,
.detail-item .tagline {
  margin-top: 5px;
  font-size: 0.9rem;
}

.section-title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.skills-title {
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
