/* App.css */
.app-container {
  min-height: 100vh;
  background-color: #f0e6ce;
  overflow-x: hidden;
}

.navbar, .section {
  background-color: #f0e6ce;
  overflow-x: hidden;
}

/* Loader Styles */
.loader-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1eee7;
}

